<% if(paginate.hasPreviousPages || paginate.hasNextPages(pageCount)){%>
    <div class="navigation well-sm" id="#pagination">
        <ul class="d-flex justify-content-center align-items-center pager list-unstyled mt-5">
            <% if(paginate.hasPreviousPages){%>
                <li class="previous">
                    <a href="<%=paginate.href(true)%>" class="prev">
                        <i class="fa fa-arrow-circle-left pr-1"></i>Previous
                    </a>
                </li>
                <%
                 }
                 if(pages){
                    pages.forEach((page)=>{
                        var ch="";
                        if(typeof(active_page) !='undefined' && active_page == page.number){
                            ch = "active";
                        }
                %>
                    <li>
                        <a href="<%= page.url %>" class="btn btn-default <%=ch%>">
                            <%=page.number%>
                        </a>
                    </li>
                    <%
                    });
                }
                %>
                        <% if(paginate.hasNextPages(pageCount)){ %>
                            <li class="next">
                                <a href="<%=paginate.href()%>" class="next">Next
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </li>
                            <% } %>
        </ul>
    </div>
    <%}%>