<%-include('../shared/header.ejs',{active:'properties',parent:'hotels-management'})%>
    <div class="content-inner">
        <!-- Page Header-->
        <header class="page-header">
            <div class="container-fluid d-flex flex-column flex-md-row justify-content-between align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Hotel Management</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Properties</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Policies</a>
                        </li>
                        <li class="breadcrumb-item active fw-700" aria-current="page">Update</li>
                    </ol>
                </nav>
            </div>
        </header>

        <%-include('../shared/property_crump.ejs',{current_page:'policies'})%>

        <div class="container-fluid">
            <form action="javascript:;" id="policiesForm">
                <div class="row wrapper mt-4 mb-0 bg-white pt-3">
                    <div class="col-sm-12 col-md-12 col-sm-12 col-12 privacy-policy-container mt-3 mx-auto w-900  mt-3 mb-2">
                        <h4 class="mb-4">Privacy Policy</h4>
                        <ul class="list-unstyled d-flex justify-content-between align-items-start flex-column mt-4">
                            <input type="hidden" name="property_id" value="<%=property_id%>">
                            <% 
                            let ppolicies = property.policies.map(policy=>{
                                return policy.toString();
                            })
                            policies.forEach((policy)=>{ %>
                                <div class="form-check form-check-inline checkbox checkbox-primary">
                                    <input class="form-check-input" id="<%=policy._id%>" type="checkbox" name="policies[]" value="<%=policy._id%>" <% if(ppolicies.includes(policy._id.toString())){%>checked
                                    <%}%>>
                                        <label for="<%=policy._id%>">
                                            <%=policy.name%>
                                        </label>
                                </div>
                                <% }); %>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-sm-12 col-12 privacy-policy-container mt-3 mx-auto w-900 mt-2 mb-2">
                        <h4 class="mb-4">Terms and Conditions</h4>
                        <ul class="list-unstyled d-flex justify-content-between align-items-start flex-column mt-4">
                            <% 
                            let pterms = property.terms.map(term=>{
                                return term.toString();
                            })
                            terms.forEach((term)=>{ %>
                                <div class="form-check form-check-inline checkbox checkbox-primary">
                                    <input class="form-check-input" id="<%=term._id%>" type="checkbox" name="terms[]" value="<%=term._id%>" <% if(pterms.includes(term._id.toString())){%>checked
                                    <%}%>>
                                        <label for="<%=term._id%>">
                                            <%=term.value%>
                                        </label>
                                </div>
                                <% }); %>
                        </ul>
                    </div>
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-sm-3 d-flex justify-content-center d-block mx-auto pb-4">
                        <a href="/policies/<%=property._id%>" class="btn btn-outline-secondary back btn-sm  btn-full-mobile mb-1 mb-md-0 mr-2">Back</a>
                        <button type="submit" class="btn btn-block btn-primary loginBtn saveBtn px-5">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            toastr.options = {
                "preventDuplicates": true,
            }
            $("#policiesForm").validate({
                normalizer: function (value) {
                    return $.trim(value);
                },
                submitHandler: function (form) {
                    $('.saveBtn').prop('disabled', true);
                    $.ajax({
                        type: "POST",
                        url: "/policies/update",
                        data: $(form).serialize(),
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == 1) {
                                if (data.message) {
                                    $.confirm({
                                        title: 'Success!',
                                        content: data.message,
                                        buttons: {
                                            ok: function () {
                                                document.getElementById("policiesForm").reset();
                                                window.location.href = "/policies/<%=property_id%>";
                                            }
                                        }
                                    });
                                }
                            } else {
                                if (data.errors) {
                                    var error = '';
                                    for (i = 0; i < data.errors.length; i++) {
                                        error += data.errors[i]+"<br/>";
                                    }
                                    if(error)
                                        toastr["error"](error);
                                }
                                if (data.message) {
                                    toastr["error"](data.message);
                                }
                            }
                            $('.saveBtn').prop('disabled', false);
                        },
                        error: function (error) {
                            $('.saveBtn').prop('disabled', false);
                        }
                    });
                    return false;
                }
            });
        </script>
        <%-include('../shared/footer.ejs')%>